<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                {% for session in all_sessions %}
                <a href="/signin/{{ session.code }}" class="nav-item nav-link {% if session.name == current_session.name %}active{% endif %}">{{ session.name }}</a>
                {% endfor %}
            </div>
            <div class="navbar-nav ms-auto">
                <div class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Tools</a>
                  <div class="dropdown-menu dropdown-menu-end dropdown-menu-dark">
                      <a href="/graph" class="nav-item nav-link {% if page == 'graph' %}active{% endif %}">Graph</a>
                      <a href="/spinner" class="nav-item nav-link {% if page == 'spinner' %}active{% endif %}">Spinner</a>
                      <a href="/options" class="nav-item nav-link {% if page == 'options' %}active{% endif %}">Options</a>
                      <a href="/admin/signin/person" class="nav-item nav-link">Admin</a>
                  </div>
                </div>
            </div>
        </div>
    </div>
</nav>