<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Options</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
    {% include "signin/navbar.html" %}
    <div class="container-md my-3 px-3">
        <h1>Options</h1>
        <div>
            <h4 class="mb-0">Font Size</h4>
            <p class="fst-italic mb-2">Default: 16</p>

            <label for="signInFontSize">Sign In:</label>
            <input id="signInFontSize" type="number" min="10" max="30">
            <br>

            <label for="signOutFontSize">Sign Out:</label>
            <input id="signOutFontSize" type="number" min="10" max="30">
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script>
        const storage = window.localStorage;

        const fontSizeInputs = ["fontSize"];     // IDs for input elements of type number
        initialiseNumberInputs(fontSizeInputs, 16);

        function initialiseNumberInputs(numberInputs, defaultValue) {
            // automatically generates default values and event handlers for number inputs
            for (const numberInputID of numberInputs) {
                const numberInputElement = document.getElementById(numberInputID);
                let numberInputValue = storage.getItem(numberInputID);
                numberInputElement.value = (numberInputValue) ? numberInputValue : defaultValue;  // sets default to 16
                numberInputElement.addEventListener('change', (event) => {
                    numberInputValue = event.target.value;
                    storage.setItem(numberInputID, numberInputValue);
                });
            }
        }
    </script>
</body>
</html>