<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Options</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="manifest" href="{% static 'app.webmanifest' %}">
</head>
<body>
    {% include "signin/navbar.html" %}
    <div class="container-md my-3 px-3">
        <h1>Options</h1>
        <div>
            <h4 class="mb-0">Appearance</h4>

            <label for="fontSize">Font Size:</label>
            <input id="fontSize" type="number" min="10" max="30">
            <p class="fst-italic mb-2">Default: 16</p>
            <br>
        </div>
        <div>
            <h4 class="mb-0">Spinner</h4>

            <label for="spinnerSpeed">Spinner Speed:</label>
            <input id="spinnerSpeed" type="number" min="100" max="500">
            <p class="fst-italic mb-2">Default: 500</p>

            <label for="spinnerResistance">Spinner Resistance:</label>
            <input id="spinnerResistance" type="number" min="0" max="500">
            <p class="fst-italic mb-2">Default: 100</p>

            <label for="spinnerMinDays">Min Days:</label>
            <input id="spinnerMinDays" type="number" min="0" max="500">
            <p class="fst-italic mb-2">Default: 20</p>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script>
        const storage = window.localStorage;

        const fontSizeInputs = ["fontSize"];
        initialiseNumberInputs(fontSizeInputs, 16);

        const spinnerSpeedInputs = ["spinnerSpeed"];
        initialiseNumberInputs(spinnerSpeedInputs, 500);

        const spinnerResistanceInputs = ["spinnerResistance"];
        initialiseNumberInputs(spinnerResistanceInputs, 100);

        const spinnerMinDays = ["spinnerMinDays"];
        initialiseNumberInputs(spinnerMinDays, 20);

        /**
         * Automatically generates default values and event handlers for number inputs
         * @param {string[]} numberInputs The id of the number input elements whose values/event handlers will be initialised.
         * @param {number} defaultValue The default values for all the elements in numberInputs
         */
        function initialiseNumberInputs(numberInputs, defaultValue) {
            for (const numberInputID of numberInputs) {
                const numberInputElement = document.getElementById(numberInputID);
                let numberInputValue = storage.getItem(numberInputID);

                numberInputElement.value = (numberInputValue) ? numberInputValue : defaultValue;  // sets default to 16
                numberInputElement.addEventListener('change', (event) => {
                    numberInputValue = event.target.value;
                    storage.setItem(numberInputID, numberInputValue);
                });
            }
        }
    </script>
</body>
</html>