<!DOCTYPE html>
<html lang="en">
<head>
    {%  load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ current_session.name }} | Sign {% if is_sign_in_time %}In{% else %}Out{% endif %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="{% static 'signin.css' %}" rel="stylesheet">
</head>
<style>
    {% if is_sign_in_time %}
    input[type="checkbox"]:checked {
        opacity: 0.3;
    }
    input[type="checkbox"]:checked + label {
        opacity: 0.3;
    }
    {% endif %}
</style>
<body>
    {% include "signin/navbar.html" %}
    <div class="container-md my-3 px-3">
        <h1>{{ current_session.name }}</h1>
        <p id="peopleCount" class="text-secondary"></p>
        <ul class="list-unstyled">
            {% for pk, person in people.items %}
            <li>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="{{ pk }}" value="{{ pk }}" title="{{ person.name }}" onclick="signIn(this)" {% if person.signed_in %}checked{% endif %}>
                    <label class="form-check-label" for="{{ pk }}">{{ person.name }}</label>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script>
        function signIn(element) {
            const is_signin = element.checked;

            fetch("{% url 'signin:api_signin' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    "X-CSRFToken": '{{csrf_token}}'
            },
                credentials: 'same-origin',
                body: JSON.stringify({
                    pk: element.value,
                    is_signin: is_signin,
                    session: "{{ current_session.code }}"
                }),
            })
            .then((response) => response.json())
            .then((data) => {
                console.log('Success:', data);
                updatePeopleCount();
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }

        function updatePeopleCount() {
            const numPeople = document.querySelectorAll('input[type="checkbox"]:checked').length;
            if (numPeople > 0) {
                document.getElementById('peopleCount').innerText = `Signed In: ${numPeople}`;
            } else {
                document.getElementById('peopleCount').innerText = "Nobody is signed in right now";
            }
        }
        updatePeopleCount();

        // Load font size from options
        const fontSize = window.localStorage.getItem("fontSize") || "16";
        document.querySelector('html').style.fontSize = `${fontSize}px`;

        // Auto-refresh the page every 5 seconds
        setTimeout(() => {
            location.reload();
        }, 5000);
    </script>
</body>
</html>