<!DOCTYPE html>
<html lang="en">
<head>
    {%  load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ current_session.name }} | Sign {% if is_sign_in_time %}In{% else %}Out{% endif %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="{% static 'signin.css' %}" rel="stylesheet">
</head>
<style>
    {% if is_sign_in_time %}
    input[type="checkbox"]:checked {
        opacity: 0.3;
    }
    label:has(+ input[type="checkbox"]:checked) {
        opacity: 0.4;
    }
    {% endif %}
</style>
<body>
    {% include "signin/navbar.html" %}
    <div class="container-md my-3 px-3">
        <h1>{{ current_session.name }}</h1>
        <p id="peopleCount" class="text-secondary"></p>
        <div class="columns">
            {% for pk, person in people.items %}
                <div class="form-check ps-0">
                    <label class="person-card form-check-label w-100 py-1 ps-2 mb-2 border border-1 rounded" for="{{ pk }}">{{ person.name }}</label>
                    <input class="form-check-input d-none" type="checkbox" id="{{ pk }}" value="{{ pk }}" title="{{ person.name }}" onclick="signIn(this)" {% if person.signed_in %}checked{% endif %}>
                </div>
            {% endfor %}
        </div>
    </div>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script>
        const api_signin_path = "{% url 'signin:api_signin' %}";
        const csrf_token = "{{csrf_token}}";
        const current_session_code = "{{ current_session.code }}";
    </script>
    <script src="{% static 'signin.js' %}"></script>
</body>
</html>